@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?inqto4');
  src:  url('fonts/icomoon.eot?inqto4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?inqto4') format('truetype'),
    url('fonts/icomoon.woff?inqto4') format('woff'),
    url('fonts/icomoon.svg?inqto4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uniE921:before {
  content: "\e921";
}
.icon-uniE923:before {
  content: "\e923";
}
.icon-uniE922:before {
  content: "\e922";
}
.icon-uniE900:before {
  content: "\e900";
}
.icon-uniE901:before {
  content: "\e901";
}
.icon-uniE902:before {
  content: "\e902";
}
.icon-uniE903:before {
  content: "\e903";
}
.icon-uniE904:before {
  content: "\e904";
}
.icon-uniE905:before {
  content: "\e905";
}
.icon-uniE906:before {
  content: "\e906";
}
.icon-uniE907:before {
  content: "\e907";
}
.icon-uniE908:before {
  content: "\e908";
}
.icon-uniE909:before {
  content: "\e909";
}
.icon-uniE910:before {
  content: "\e910";
}
.icon-uniE911:before {
  content: "\e911";
}
.icon-uniE912:before {
  content: "\e912";
}
.icon-uniE913:before {
  content: "\e913";
}
.icon-uniE914:before {
  content: "\e914";
}
.icon-uniE915:before {
  content: "\e915";
}
.icon-uniE916:before {
  content: "\e916";
}
.icon-uniE917:before {
  content: "\e917";
}
.icon-uniE918:before {
  content: "\e918";
}
.icon-uniE919:before {
  content: "\e919";
}
.icon-uniE920:before {
  content: "\e920";
}
